<div class="column20 content-align-center">
    <div class="column10 fenced contenedor_primary">
        DATOS DE INICIO DE SESIÓN<br>
        <label class="required-mark column20 content-align-left label_primary">
            USER 
            <input type="text" name="valuser" class="campo1" required/>
        </label>
        <label class="required-mark column20 content-align-left label_primary">
            PASSWORD
            <input type="password" name="valpassword" class="campo1" required/>
        </label>
        <button class="button button_prymary"><u>A</u>ceptar</button>
    </div>
</div>