<div class="column20 content-align-center">
    <div class="column16 fenced">
        DATOS DE INICIO DE SESIÓN<br>
        <label class="required-mar column10 content-align-left label_primary">
            USER 
            <input type="text" name="valuser" class="campo1" required/>
        </label>
        <label class="required-mark column10 content-align-left label_primary">
            PASSWORD
            <input type="password" name="valpassword" class="campo1" required/>
        </label>
    </div>
</div>