*{
    margin 		: 0px;
	padding 	: 0px;
	outline 	: 0PX;
	color 		: white;
	font-size 	: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input[type = "checkbox" ], input[type = "radio"]{
	transform			: scale(2 , 2);
	-ms-transform		: scale(2 , 2);
	-moz-transform		: scale(2 , 2);
	-webkit-transform	: scale(2 , 2);
	-o-transform		: scale(2 , 2);
	margin-right		: 10px;}
textarea{resize : none;}
a{text-decoration: none;}
input{
    display: inline-block;
	width: 98%;
    height: calc(1em + 1rem);
    padding: .375rem .75rem;
    line-height: 1;
    background-clip: padding-box;
    border: 1px solid #ced4da;
	border-radius: 5px;}
input:focus{
    background:linear-gradient(#dff, #ccf);
}
.column1{
    width: 5%;
    display: inline-block;
}
.column2{
    width: 10%;
    display: inline-block;
}
.column3{
    width: 15%;
    display: inline-block;
}
.column4{
    width: 20%;
    display: inline-block;
}
.column5{
    width: 25%;
    display: inline-block;
}
.column6{
    width: 30%;
    display: inline-block;
}
.column7{
    width: 35%;
    display: inline-block;
}
.column8{
    width: 40%;
    display: inline-block;
}
.column9{
    width: 45%;
    display: inline-block;
}
.column10{
    width: 50%;
    display: inline-block;
}
.column11{
    width: 55%;
    display: inline-block;
}
.column12{
    width: 60%;
    display: inline-block;
}
.column13{
    width: 65%;
    display: inline-block;
}
.column14{
    width: 70%;
    display: inline-block;
}
.column15{
    width: 75%;
    display: inline-block;
}
.column16{
    width: 80%;
    display: inline-block;
}
.column17{
    width: 85%;
    display: inline-block;
}
.column18{
    width: 90%;
    display: inline-block;
}
.column19{
    width: 95%;
    display: inline-block;
}
.column20{
    width: 100%;
    display: inline-block;
}
.column33{
    width: 33%;
    display: inline-block;
}
.column66{
    width: 66%;
    display: inline-block;
}
.column99{
    width: 99%;
    display: inline-block;
}
.fenced{
    border: 1px;
    border-style: solid;
}
.content-align-center{
    text-align: center;
}
.content-align-left{
    text-align: left;
}
.content-align-right{
    text-align: right;
}
.content-align-justify{
    text-align: justify;
}
.contenedor_primary{
    margin: 15px;
    padding: 15px;
}
.label-primary{
    margin: 5px;
    padding: 5px;
}
.border-radius             {border-radius: 15px;}
.border-radius-top         {border-top-left-radius    : 20px 20px; border-top-right-radius     : 20px 20px;}
.border-radius-button      {border-bottom-left-radius : 20px 20px; border-bottom-right-radius  : 20px 20px;}
.border-radius-right       {border-top-right-radius    : 20px 20px; border-bottom-right-radius  : 20px 20px;}
.border-radius-left        {border-bottom-left-radius: 20px 20px; border-top-left-radius      : 20px 20px;}
.border-radius-bottom-left {border-bottom-left-radius   : 20px 20px;}
.border-radius-top-left    {border-top-left-radius      : 20px 20px;}
.border-radius-bottom-right{border-bottom-right-radius    : 20px 20px;}
.border-radius-top-right   {border-top-right-radius       : 20px 20px;}

.button{
    width: 120px;
    border-radius: 10px;
    border-style: outset;
    text-align: center;
    margin: 10px;
    padding: 4;
    font-size: 18px;
}
.button>u{
    color: black;
}
.button_prymary{
    background-color:lightblue;
    color: black;
}
textarea{resize : none;}
h1{font-size: 2em;}
h2{font-size: 1.7em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em;}
h5{font-size: 0.8em;}
h6{font-size: 0.6em;}
ol, ul, dl{list-style : none;}

.message{
    position:absolute; right: 0px; top: 20%;
    display: inline-block; max-width: 50%; max-height: 30%;
    overflow: auto;
    background: burlywood;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    z-index: 10;
    max-width: 40%; max-height: 40%;
}
.message-head{
    background: blue;
    width:90%;
    float: right;
    border: none;
    text-align: center;
}
.message-body{
    overflow: auto;
    color: black;
    padding: 10px;
}
.close{
    background: red;
    border:none;
    border-top-left-radius:20px;
    width:10%;
    display: inline-block;
}
.close::after{
	content:"X";
}

/*{
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color:#000;
	border:0px;
	box-sizing:border-box;}
form{
	width: 100%; 
	overflow-x: auto; 
	display:table;
	margin-top: 5px;
	margin-bottom: 3px;
	padding-top: 2px;
	padding-bottom: 2px;}
article{
	border:double;
	border-radius: 20px;
	position: absolute;
	left: 20%;
	width: 60%;
	max-height: 30%;
	overflow: auto;
	z-index: 200;
	top:50px;
	padding: 20px;
	display:none;
	font-weight: bold;}
legend{
	border: double;
}

input[type="text"],input[type="number"],input[type="password"],select,textarea,input[type="search"],input[type="email"]{
	display: inline-block;
	width: 100%;
    height: calc(1em + 1rem);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background:linear-gradient(#fff,#ccc);
    background-clip: padding-box;
    border: 1px solid #ced4da;
	border-radius: 5px;}
option{background: #033;}
input[type="file"]{display: none;}
input[type="search"]:focus,input[type="password"]:focus,input[type="number"]:focus,select:focus,textarea:focus,input[type="email"]:focus{
	background:linear-gradient(#dff, #ccf);}
input[type="button"],input[type="reset"],button{
	width: 120px;
	border-radius: 15px;
	height: 30px;
	font-size: 18px;
	font-family: monospace;}
.tabla{
    border: solid 1px #999;
    width: 100%;
	border-collapse:collapse;
	font-size: 18px;
	font-weight: bold;}
.tabla th{
	padding-left: 6px; padding-right: 6px;
	text-align: center !important;
	font-size:14px;
	border:1px solid white ;
	text-transform: uppercase;
	background-color:darkslateblue;}
.tabla td{
	border:1px solid white;
	margin : 2px !important;
	padding: 1px !important;}
.tabla > tbody tr:nth-child(even) {color:darkblue;}
.tabla > tbody tr:nth-child(odd) {color: lightseagreen;}
.contenedor-table{
	overflow-x: auto; 
	border:none !important;}
.enviar_archivo{
	background: #bbc;
	color: #333;
	border-radius: 15px;
	width: 150px;
}
.btn_primario{
	background:-moz-radial-gradient(#0309ff,#0309ff,#0000ff,#0000ff);
	background:-webkit-radial-gradient(#0309ff,#0309ff,#0000ff,#0000ff);
	color:white; font-size: 1;}
.btn_secundario{
	background:-moz-radial-gradient(#008502,#008502,#008502,#03aa20,#008a00,#008a00,#008a00);
	background:-webkit-radial-gradient(#008502,#008502,#008502,#03aa20,#008a00,#008a00,#008a00);}
.fila1 {height: 5%;}
.fila2 {height: 10%;}
.fila3 {height: 15%;}
.fila4 {height: 20%;}
.fila3 {height: 25%;}
.fila5 {height: 30%;}
.fila6 {height: 35%;}
.fila7 {height: 40%;}
.fila8 {height: 45%;}
.fila9 {height: 50%;}
.fila10{height: 55%;}
.fila11{height: 60%;}
.fila13{height: 65%;}
.fila14{height: 70%;}
.fila15{height: 75%;}
.fila16{height: 80%;}
.fila17{height: 85%;}
.fila18{height: 90%;}
.fila19{height: 95%;}
.fila20{height: 100%;}
.fila33{height: 33%;}
.fila66{height: 66%;}
.bordes {
	box-shadow: inset 0 0 0 1px black;
}
.correr   {left:5px; }
.correr1  {left:5%;  }
.correr2  {left:10%; }
.correr3  {left:15%; }
.correr4  {left:20%; }
.correr5  {left:25%; }
.correr6  {left:30%; }
.correr7  {left:35%; }
.correr8  {left:40%; }
.correr9  {left:45%; }
.correr10 {left:50%; }
.correr11 {left:55%; }
.correr12 {left:60%; }
.correr13 {left:65%; }
.correr14 {left:70%; }
.correr15 {left:75%; }
.correr16 {left:80%; }
.correr17 {left:85%; }
.correr18 {left:90%; }
.correr19 {left:95%; }
.correr20 {left:100%;}
.bajar1   {margin-top:5%;}
.bajar2   {margin-top:10%;}
.bajar3   {margin-top:15%;}
.bajar4   {margin-top:20%;}
.bajar5   {margin-top:25%;}
.bajar6   {margin-top:30%;}
.bajar7   {margin-top:35%;}
.bajar8   {margin-top:40%;}
.bajar9   {margin-top:45%;}
.bajar10  {margin-top:50%;}
.bajar11  {margin-top:55%;}
.bajar12  {margin-top:60%;}
.bajar13  {margin-top:65%;}
.bajar14  {margin-top:70%;}
.bajar15  {margin-top:75%;}
.bajar16  {margin-top:80%;}
.bajar17  {margin-top:85%;}
.bajar18  {margin-top:90%;}
.bajar19  {margin-top:95%;}
.bajar20  {margin-top:100%;}
.observacion{background-color: #996; color: #330000;}
.observacion::BEFORE{content: "OBSERVACION:";}
.aprovacion{background-color: green ; color: #ffffff;}
.aprovacion::BEFORE{content: "CORRECTO:";}
.prevencion{background-color: orange;color: #001000; font-weight:bold; font-size: 18px;}
.prevencion::BEFORE{content: "ATENCION:";}
.activo{background-color: #024;}
.inactivo{background-color: #999;}
.trasparencia01{opacity: 0.1;}
.trasparencia02{opacity: 0.2;}
.trasparencia03{opacity: 0.3;}
.trasparencia04{opacity: 0.4;}
.trasparencia05{opacity: 0.5;}
.trasparencia06{opacity: 0.6;}
.trasparencia07{opacity: 0.7;}
.trasparencia08{opacity: 0.8;}
.trasparencia09{opacity: 0.9;}
.trasparencia10{opacity: 1;}
.indice1{z-index: 5;}
.indice2{z-index: 10;}
.indice3{z-index: 15;}
.indice4{z-index: 20;}
.indice5{z-index: 25;}
.indice6{z-index: 30;}
.izquierda{text-align       : left;}
.derecha{text-align         : right;}
.centro{text-align          : center;}
.justificado{text-align     : justify;}
.ft_izquierda{float: left;}
.ft_derecha{float: right;}
.ft_no{float: unset;}
.link_nav{background-color: #024;
	width: 90px;
	margin-left: 3px; margin-right: 3px;}
.eliminar{
	background: red;
    border:none;
    position: absolute;
    right: 5px; 
	width:25px !important;
	height: 25px;}
.eliminar::after{content:"X";}
.modal{
    position: fixed;
    left: 10%; top: 10%;
    width:80%; height: 80%;
    z-index: 100;
    border-radius: 20px;
    border:1px solid;
    background: rgb(50,100,150);
    display: none;
}
.cortina-modal{
    position: absolute;
    left: 0px; top: 0px;
    width:100%; height: 100%;
    z-index: 99;
	background: rgb(055,055,055);
	opacity: 0.8;
}
.modal-encabezado{
    background: green;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    left: 0px;  top: 0px;
    height: 8%; width:97%;
	border-top-left-radius: 20px;
}

.modal-cuerpo{
    overflow:auto;
    position: relative;
	width:100%;
    height: 85%;
    left: 0px;
	top: 12%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}*/
