<script src="view\js\user\user.js"></script>
<form action="#" name="user">
    <br><br><br><br><br>
    <div class="column20 content-align-center">
        <div class="column10 fenced contenedor_primary border-radius">
            DATOS DE INICIO DE SESIÓN<br>
            <label class="required-mark column20 content-align-left label-primary">
                USER 
                <input type="search" name="valuser" class="campo1 required" />
            </label>
            <label class="required-mark column20 content-align-left label-primary ">
                PASSWORD
                <input type="password" name="valpassword" class="campo1 required" />
            </label>
            <button type="button" class="button button_prymary" id="login"><u>A</u>ceptar</button>
        </div>
    </div>
</form>